{% extends "index.html" %}

{% block contenido %}
{% load staticfiles %}
 <div class="admin-form">
     <div class="panel heading-border">
        {% csrf_token %}
         <div id="content" class="animated fadeIn">
            <section id="contente" class="table-layout animated fadeIn">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-visible" id="we">
                                <div class="panel-heading">
                                    <div class="panel-title hidden-xs">
                                        <span class="glyphicon glyphicon-tasks"></span>Proveedores</div>
                                    </div>
                                <div class="panel-body pn">
                                <br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="section">
                                                <label class="field prepend-icon">
                                                    <input type="text" id="myInput" onkeyup="myFunction()" class="gui-input" placeholder="Buscar Proveedor">
                                                    <label for="search" class="field-icon">
                                                    <i class="fa fa-search"></i>
                                                    </label>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <table class="table table-striped table-hover" id="myTable" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>Proveedor</th>
                                    <th>Ver</th>
                                    <th>Editar</th>
                                    <th>Eliminar</th>
                                </tr>
                                </thead>
                                <tbody>
                                     {% load widget_tweaks %}


                                        {% for pro in proveedor %}
                                        <tr>
                                        <h4 class="mt30 mb25 fw400">

                                        <td>  <a  href="{% url 'Proveedor:detallesproveedor' pro.pk %}" > {{pro}} </a></td>
                                        <td> <a title="ver" href="{% url 'Proveedor:detallesproveedor' pro.pk %}"><img src="{% static 'imagenes/eye.png' %}" width="35" height="35" /></a></td>
                                        <td>  <a title="editar" href="{% url 'Proveedor:editar_pro' pro.pk %}"><img src="{% static 'imagenes/pencil.png' %}" width="35" height="35" /></a></td>
                                        <td>   <a title="eliminar" href="{% url 'Proveedor:eliminar_pro' pro.pk %}"><img src="{% static 'imagenes/trash.png' %}" width="35" height="35" /></a></td>

                      </h4>

                          </tr>
                      {% endfor %}

                                </tbody>
                                </table>
                                <br>
                                <br>
                                <br>
                               <center>
                                <p class="mb15"><a class="btn btn-primary light"  href="{% url 'Proveedor:AgregarProveedor' %}">Agregar Proveedor</a></p>
                                </center>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
     </div>
 </div>

<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>



{% endblock contenido%}